/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/

@page {
  size: A4;
  margin: 0;
}
@media print {
  html,
  body {
    width: 210mm;
  }
  .noprint {
    display: none;
  }
}

.resultPage {
  &-first {
    display: flex;
    height: 297mm;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
  &-second {
    display: flex;
    height: 297mm;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }

  th {
    text-align: center;
    padding: 5px;
    background-color: white;
    color: black;
    border: 1px rgba(0, 0, 0, 0.8) solid;
    font-weight: bold;
    font-size: 12px;
  }
  td {
    text-align: center;
    border: 1px rgba(0, 0, 0, 0.8) solid;
    padding: 7px;
    font-size: 12px;
  }
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__title {
      margin: 1rem;
    }
    &__tableArea {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__table {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }

      &-small {
        display: flex;
        flex-direction: row;
      }
      &-graph {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__row {
        &__right {
          color: blue;
        }
        &__wrong {
          color: red;
        }
      }
    }

    &__chart {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &__active {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      &__level {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
