/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/
.list {
  display: flex;
  flex-direction: row;
  &__content {
    color: $main-color !important;
    &:hover {
      border: 1px $main-color solid;
    }

    &__name {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &__text {
        margin-left: 1rem;
        color: $gray-color;
      }

      &__label {
        width: 3px;
        height: 80px;
        background-color: $main-color;
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      &__count {
        color: $gray-color;
      }

      &__current {
        color: $main-color;
      }
    }
  }

  &__footer {
    height: 30px;
    width: 500px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;

    &__text {
      color: $date-color;
      font-size: 12px;
      margin-right: 5px;
    }
  }
}
