/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/

.bigLabel {
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
