/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/
.chooseTest {
  &__modal {
    overflow-y: scroll !important;
  }
  &__dialog {
    display: flex;

    &__title {
      color: $main-color;
      font-size: 20px;
      margin-top: 1px;
      margin-left: 70px;
    }

    &__section {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__title {
        color: $main-color;
        font-size: 20px;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-right: 20px;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: center;

    &__chips {
      display: flex;
      flex-direction: row;
    }

    &__section {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__title {
        color: $main-color;
        font-size: 20px;
        margin-top: 1px;

        margin-bottom: 1rem;
        padding-right: 20px;
      }
    }
  }
}
