/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/
.homePage {
  overflow-y: hidden;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90vh;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    &__make {
      color: $main-color !important;

      &:hover {
        background-color: $main-color !important;
        color: white !important;
      }
    }
  }
}
